<div>
  <input [formControl]="name" required type="text">
  <button [disabled]="name.invalid"  (click)="addBox()" >Add Box</button>
  <p *ngIf="!name || name.invalid">Title Required</p>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayout.xs="column" fxLayoutAlign.xs="center center" >
  <ng-container *ngFor="let box of list;let i=index">
    <div class="box" (click)="view(box)">
      <div class="top" fxLayout="row wrap" fxLayoutAlign="space between">
        <div>{{i+1}}</div>
        <div class="remove" (click)="remove(box.id,$event)">X</div>
      </div>
      <div class="center">
        {{box?.title}}
      </div>
    </div>
  </ng-container>

</div>

